.container {
	width: 90%;
	margin: auto;
	margin-top: 20px;
}

.start {
	width: 90%;
	margin-bottom: 20px;
	display: flex;
	align-items: center;
}

.open {
	float: left;
	width: 100px;
	padding: 8px;
	background-color: var(--custom-black);
	color: white;
	font-size: 14px;
	cursor: pointer;
	display: block;
	margin-right: 20px;
}
