.nav-menu {
	display: flex;
	width: 100%;
	height: 75px;
	align-items: center;
	background-color: coral;
	background-color: var(--custom-black);
}

.nav-item {
	flex: 1;
}

.nav-btns {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 40px;
	padding-right: 30px;
}

.menu-item {
	color: white;
	text-transform: uppercase;
	font-size: 18px;
	cursor: pointer;
}

.nav-title {
	font-size: 25px;
	padding-left: 30px;
	font-weight: 600;
	color: white;
	cursor: pointer;
}

.nav-title > div > span {
	font-weight: normal;
	font-size: 20px;
}
