.title {
	font-size: 18px;
	font-weight: bold;
	margin-bottom: 5px;
}

.description {
	font-size: 14px;
	text-align: justify;
}

.item {
	flex-direction: column;
	margin: 40px 0;
}

#option-selector {
	width: 100px;
	padding: 3px;
	margin-top: 5px;
	position: relative;
	left: 0;
}
