.start {
	display: flex;
	align-items: center;
	background-color: var(--custom-black);
	color: white;
	height: 45px;
	width: calc(100vw - 40px);
}

.container {
	margin-bottom: 20px;
}

.name,
.btn {
	cursor: pointer;
	user-select: none;
}

.name {
	flex: 5;
	font-weight: bold;
	font-size: 14px;
	padding: 12px;
}

.btn {
	flex: 1;
	font-size: 13px;
	font-weight: bold;
	color: white;
	justify-self: center;
}

.btn:hover {
	color: #acacac;
}
