/*****************************************************
******************* DEFAULT INIT *********************
******************************************************/

:root {
	--light-blue: #eaf5ff;
	--blue: #00529c;
	--custom-black: #24292e;
	--background: #f5f7f9;
}

* {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

body {
	background-color: var(--background);
}

/* width */
::-webkit-scrollbar {
	width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
	background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: #555;
}

.hide {
	display: none;
}
